<div class="container">
    <div class="row">
@for (item of products; track item.id) {
        <div class="col py-3">
            <div class="card" style="width: 16rem;" >
                <img src="{{item.image}}" class="card-img-top" alt="..." height="250">
                <div class="card-body" style="height: 13rem;">
                  <h5 class="card-title " style="height: auto;">{{item.title.slice(0,33)}}...</h5>
                  <p class="card-text" style="height:auto;">{{item.description.slice(0,70)}}...</p>
                  <a routerLink="/product/{{item.id}}" class="btn btn-primary" style="height:auto;">See more</a>
                </div>
            </div>
        </div>
    }
    </div>
</div>
