<app-carousel></app-carousel>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="hed" style="font-family: 'Satisfy', cursive; font-size: 100px; color: rgb(255, 255, 255); background-color: rgb(0, 106, 255);" >
                HomEkart
              </h1>
              <h1 id="hed2" style="font-family: 'Satisfy', cursive;">
                commercial.com
              </h1>
              
              

        </div>
    <div class="col">
            <img src="homekart.png"  alt="" style="width: 120%; height: auto">
        </div>
    </div>
</div>
