<!-- <h1 style="font-family: 'Satisfy', cursive; font-size: 70px; ">homekart</h1> -->
  <div class="container">
		<div id="carousel">
			<figure><img src="shopping.jpg" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shping2.png" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp4.jpg" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp3.png" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp9.jpg" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp5.jpg" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp6.jpg" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp7.jpg" alt="" style="width: 100%; height: 100%;"></figure>
			<figure><img src="shp8.jpg" alt="" style="width: 100%; height: 100%;"></figure>
		</div>
	</div>